
    .DetailsContainer{
    display: flex;
    flex-wrap: wrap;
    padding-top:  80px;
    article{
        flex-grow: 1;
        flex-basis: 200;
        width: 100px;
        padding: 0px 60px;
        justify-content: start;
        text-align: start;
    }



}

