#root {

  margin: 0 ;
  padding: 0;
  text-align: center;
}

*{
  margin: 0;
  overscroll-behavior: none;
  padding: 0;
}



div{
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}